@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
	--navyBlue: #05445e;
	--blueGrotto: #189ab4;
	--blueGreen: #75e6da;
	--babyBlue: #d4f1f4;

	--blueGrottoHover: #147b90;
	--blueGrottoActive: #189ab466;

	--gray-background-login: #e1e5ea54;
	--gray-background: #e1e5eac2;

	--navBar: #434446;
	--navBar-item: #ffffff4d;
	--navBar-item-hover: #bbb2b24d;

	--active-row: #adc6ff3b;
	--active-row-hover: #adc6ff5c;

	--warning: #ffa940;
	--link: #1890ff;

	--danger: #ff4d4f;
	--danger-hover: #ff7875;

	--success: #52c41a;
	--success-hover: #73d13d;

	--gray-bg: #fff;
}

html,
body,
* {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: inherit;
	color: inherit;
}

body {
	/* background-color: var(--babyBlue) !important; */
	background-color: var(--gray-background-login) !important;
}

.ant-layout .layout {
	background-color: inherit !important;
}

.layout-content {
	/* background-color: var(--babyBlue); */
	background-color: inherit !important;
}

.form {
	width: 25%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.navbar-bg {
	background-color: var(--navBar) !important;
}

.navbar-bg ul {
	border-bottom: 0 !important;
}

.navbar-actions {
	display: flex;
	margin-left: auto;
}

.navbar-header {
	display: flex !important;
}

.navbar-item-icon {
	margin-right: 4px;
}

.ant-menu-item-selected {
	background-color: none !important;
}

.navbar-item-title {
	background-color: inherit !important;
}

/* .top-navbar-item {
	padding-left: 15px !important;
	padding-right: 15px !important;
} */

.navbar-item-active span {
	/* background-color: var(--blueGrottoHover) !important; */
	background-color: var(--navBar-item);
}

.ant-menu-item span {
	padding: 10px;
	border-radius: 5px;
}

.ant-menu-item span:hover {
	background-color: var(--navBar-item-hover) !important;
}

.ant-menu-item:hover::after {
	border: 0 !important;
}

.ant-menu-item-selected::after {
	border: 0 !important;
}

.ant-table-wrapper .ant-table-thead > tr > th {
	background: #e1e5ead6 !important;
}

.spinner-div {
	background-color: rgba(0, 0, 0, 0.5) !important;
	pointer-events: none !important;
	position: absolute;
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	margin: auto;
	z-index: 99;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}

.spinner-div .spinner-svg {
	z-index: 100;
	max-width: 150px;
	margin: auto;
}

.text-right {
	text-align: right;
}

.btn-success {
	background-color: var(--success);
	color: #fff;
}

.btn-success:hover {
	color: #fff !important;
	background-color: var(--success-hover) !important;
	border-color: var(--success) !important;
}

.active-row {
	/* background-color: var(--blueGrottoActive) !important; */
	background-color: var(--active-row) !important;
}

.active-row:hover td {
	background: var(--active-row-hover) !important;
}

.btn_disabled {
	color: rgba(0, 0, 0, 0.25) !important;
}

.user-tag {
	margin-left: 5px !important;
}

/* .ant-picker-date-panel thead {
	margin: 10px !important;
	background: #e1e5ead6 !important;
} */
